body{
  font-family: 'Open Sans', sans-serif !important;
  background: #f5f5f5;
}
.mama-nav{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Ubuntu;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.22;
	letter-spacing: 0.4px;
  z-index:9;
}
.navbar-light .navbar-nav .nav-link{
  color: #252525;
}
.bb-light{
  border-bottom: 1px solid #d1d1d1;
}
.nav-text{
  line-height: 50px;
}
.nav-text a{
  font-family: 'Open Sans', sans-serif !important;
}
nav.navbar ul.ul-h.nav-menu>li.contact{
  padding-right: 0px;
}
nav.navbar.transparent-white ul.ul-h.nav-menu > li.contact > a:hover {
    color: #fff;
    -webkit-transition: color .2s;
    transition: color .2s;
}
nav.navbar.transparent-white ul.ul-h.nav-menu > li > a{
  -webkit-transition: all .15s ease-in-out !important;
}
.nav-collapsed{
  box-shadow: 0px 3px 22px rgba(0,0,0,0.1);
  padding-top: 5px;
}

@media (min-width: 1365px) and (max-width: 1367px) {
  nav.navbar .container.fluid-container ul.ul-h.nav-menu>li{
    padding: 0 22px !important;
  }
  .btn-secondary-mama{
    padding: 15px 38px !important;
  }
}
@media (min-width: 1020px) {
  .hero-content .container{
    top: 30%!important;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  li.mama-list{
    height: 68px !important;
  }
}
@media (min-width: 479px) and (max-width: 1020px){
  h1.site-title{
    font-family: 'Open Sans';
  	font-size: 40px !important;
  	color: #282829 !important;
  }
  h6.about{
    font-family: 'Open Sans';
  	font-size: 16px !important;
  	color: #252525 !important;
  }
  .hero-fullscreen{
    height: 88vh !important;
    padding-left: 25px;
  }
  .hero-content .container{
    top: 20% !important;
  }
  .map-illustration{
    margin-bottom: 65px;
  }
  #vision, #goals{
    padding-left: 25px !important;
  }
  .sponsor-logo{
    text-align: center !important;
    margin-top: 40px;
  }
  .btn-secondary-mama{
    color: #fff !important;
  }
}
@media (min-width: 329px) and (max-width: 469px) {
  h1.site-title{
    font-family: 'Open Sans';
  	font-size: 35px !important;
  	color: #282829 !important;
  }
  h6.about{
    font-family: 'Open Sans';
  	font-size: 15px !important;
  	color: #252525 !important;
  }
  .members-logo{
    display: none;
  }
  .mama-foot p.copyright {
    margin-right: 0px !important;
  }
  p.copyright {
    margin-left: 0px !important;
    font-size: 12px !important;
  }
  .fixed-bottom{
    position: relative;
  }
  .hero-fullscreen{
    height: 130vh !important;
    padding-left: 25px !important;
  }
  .mama-foot{
    height: auto!important;
    padding-top: 10px !important;
  }
  .hero-content .container{
    top: 12% !important;
  }
  .map-illustration{
    margin-bottom: 65px;
  }
  #vision, #goals{
    padding-left: 25px !important;
  }
  .sponsor-logo{
    text-align: center !important;
    margin-top: 40px;
  }
  .btn-secondary-mama{
    color: #fff !important;
  }
}
@media (min-width: 1200px) and (max-width: 1288px) {
  .btn-secondary-mama{
    color: #fff !important;
  }
}
@media (max-width: 1024px){
  .hidden-md{
    display:none !important;
  }
}



/*---------- MAIN CONTENT ----------*/
.hero-content .container {
    vertical-align: middle;
    top: 40%;
    display: table-caption;

}
h1.site-title{
  font-family: 'Open Sans';
	font-size: 52px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0px;
	text-align: left;
	color: #282829;
}
h6.about{
  font-family: 'Open Sans';
	font-size: 17px;
	font-weight: 300;
	line-height: 1.7;
  margin-top: 30px;
  margin-bottom: 30px;
	letter-spacing: 0px;
	text-align: left;
	color: #777777;
}
.btn-primary-mama {
    background-color: #a4986b;
    border: 2px solid #a4986b;
    padding: 18px 55px;
    line-height: 1.6;
    letter-spacing: 0.6px;
    display: inline-block;
    border-radius: 0;
    transition: all .15s ease-in-out;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}
.btn-secondary-mama {
    background-color: transparent;
    border:2px solid #a4986b;
    padding: 15px 40px;
    line-height: 1.6;
    font-size: 14px !important;
    line-height: 1.6;
    letter-spacing: 0.6px;
    display: inline-block;
    border-radius: 0;
    transition: all .15s ease-in-out;
    font-weight: 400;
    text-align: center;
    color: #282829;
}
.btn-primary-mama:hover{
    background-color: transparent;
    color: #a4986b;
    border: 2px solid #a4986b;
    transition: all .15s ease-in-out;
    text-decoration: none;
}
.btn-secondary-mama:hover{
    background-color: #a4986b;
    color: #ffffff;
    border-color: transparent;
    transition: all .15s ease-in-out;
    text-decoration: none;
}

/* Vision */
h6.sentence{
  color: #7C7C7C;
  font-size: 15px;
  font-weight: 300;
}
h3.section-title{
  font-size: 36px;
  color: #252525;
  font-weight: 700;
  padding-top: 10px;
}
.section-content p{
  font-size: 16px;
  color: #727272;
  font-weight: 300;
  margin-bottom: 40px;
}
.mama-link{
  color:#a4986b;
  vertical-align: middle;
}
.mama-link:hover{
  color:#a4986b;
  font-weight: 600;
}
.link-arrow{
  color:#a4986b;
  margin-right: 10px;
  vertical-align: middle;
}

/* Goals */
.bg-smoked{
  background-color: #f8fafc;
}
p.title-quote{
  font-size: 34px;
  font-weight: 300;
  width: 85%;
  color: #878787;
}
span.quote-bold{
  font-weight: 700;
  color: #252525;
}
ul.no_bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li.mama-list {
  background: url('../img/arrow.png') no-repeat left 5px;
  height: 54px;
  padding-left: 32px;
  font-size: 16px;
  color: #727272;
  font-weight: 300;
}

/* Members */
.center-text{
  text-align: center;
}
.responsive-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.forces {
  padding-top: 100%;
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/* Footer */
.footer {
  background: #f9fafc;
  height: 145px;
  border-top: 2px solid #a4986b;
  padding-top: 50px;
}
.sponsor-logo{
  text-align: right;
}
.nav-menu{
	font-size: 16px;
	line-height: 2.21;
	text-align: center;
	color: #252525;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-menu li{
  margin-right: 50px;
}
.footer-menu li a:hover{
  color: #a4986b;
}



.mama-foot{
  height: 48px;
  padding-top: 4px;
  border-top: 1px solid #d1d1d1;
}
.mama-foot p.copyright{
  padding-top: 10px;
  margin-right: -15px;
}
p.copyright{
  font-size: 12px;
  font-weight: 300;
  color: #777777;
}
.fixed-bottom{
  background: rgba(245,245,245,0.93);
  border-top: 2px solid #a4986b;
}
.members-logo{
  height: 115px;
  margin-top: 10px;
  margin-left: -20px;
}
.members-logo ul li{
  list-style: none;
  float: left;
  margin-left: 0px;
  text-align: center;
}
.canton{
  text-align: right;
}
img.logos{
  width: 100%;
  text-align: center;
}




/* MODAL */
.melon-modal{
  background-color: #f5f5f5;
	box-shadow: 3.7px 11.4px 27px 8.1px rgba(143, 143, 143, 0.25);
}
.modal-title h5{
  font-size: 28px;
  border-bottom: 2px solid #a4986b;
  padding-bottom: 20px;
}
.modal-dialog{
  width: 80% !important;
}
.modal-text{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.modal-text p{
  font-size: 17px;
  color: #252525;
  font-weight: 300;
}
.modal-header{
  padding: 25px;
  border-bottom: none;
}
.modal-content {
  background-color: #f5f5f5;
  border: none;
  box-shadow: 0px 3px 22px rgba(0,0,0,0.1);
}
.modal-footer{
  display: inline;
  bottom: 0px;
  z-index: 1;
  padding: 0px;
}
.modal{
  z-index: 999999;
}
.fade{
  opacity: 0.9;
	background-color: #f5f5f5;
}
.modal-content-body {
    position: relative;
    height: auto;
    /* overflow: hidden; */
}
.nav{
  background: #fff;
}
.nav-pills .nav-link.active, .show>.nav-pills .nav-link{
  background-color: transparent;
  color: #252525;
  border-bottom: 5px solid #1189c6;
}
.nav-justified .nav-item{
  padding: 20px;
  color: #252525;
  border-right: 1px solid #f5f5f5;
}
.nav-pills .nav-link{
  border-radius: 0px;
}
p.content-tab{
  font-family: Ubuntu;
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: 0.6px;
	text-align: center;
	color: #252525;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 300;
}
.melon-tab{
  text-align: center;
}
.btn-primary{
  background-color:#1189c6;
  border-color: transparent;
}
.btn-primary:hover{
  background-color:#035d8a;
}
.btn{
  padding:18px 55px;
  line-height: 1.6;
	letter-spacing: 0.6px;
}
.hero-modal{
  padding-top: 0px !important;
}





/*TEAM MODAL*/
.team-content .container{
  padding:0px !important;
}
.modal-team-body {
    position: relative;
    height: 60vh;
    overflow: scroll;
}
h3.team-heading{
  font-size: 30px;
	font-weight: bold;
	line-height: 0.77;
	letter-spacing: 0.3px;
	text-align: center;
	color: #252525;
  margin-bottom: 60px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 40px;
  width: 84%;
  margin: 0px auto;
  margin-bottom: 40px;
}
h3.advisors-heading{
  font-size: 30px;
	font-weight: bold;
	line-height: 0.77;
	letter-spacing: 0.3px;
	text-align: center;
	color: #252525;
  margin-bottom: 60px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 40px;
  width: 84%;
  margin: 0px auto;
}
.founder-body{
  margin-top: 40px;
  margin-left: 15px;
}
.founder-bio p{
	font-size: 15px;
	line-height: 1.6;
	color: #252525;
  font-weight: 300;
  margin-top: 20px;
  width: 90%;
}
.media-body h5{
  font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.2px;
	color: #252525;
}
.media-body p{
  font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.2px;
	color: #252525;
}
.founder-social nav.nav{
  background: transparent;
}
.founder-social .nav-link{
  padding:0px;
  padding-right: 15px;
}
.teams{
  margin-top: 50px;
  margin-left: -50px;
}
.team-member{
  text-align: center;
  margin-bottom: 35px;
}
.team-info{
  margin-top: 18px;
}
.team-info h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #252525;
}
.team-info p{
  font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.2px;
	color: #252525;
}
.team-social{
  text-align: center;
}
.team-social .nav{
  background: transparent;
}
.team-social .nav-link{
  padding:0px;
  padding-right: 7px;
  padding-left: 8px;;
}
.advisors{
  margin-top: 80px;
}
.advisors-content{
  margin-bottom: 50px;
}
